.cart-dropdown-container {
  width: 240px;
  height: 340px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  top: 90px;
  right: 40px;
  z-index: 5;
  background-color: white;
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  button {
    margin-top: auto;
  }
  .nav-link {
    text-decoration: none;
    color: white !important;
  }
}
